Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
psycopg-binary==3.2.9
gunicorn==23.0.0
python-dotenv==1.0.0
psycopg==3.2.9
psycopg-binary==3.2.9
WTForms==3.1.1
Werkzeug==3.0.6
email-validator==2.3.0
Jinja2==3.1.6
jsonpointer==2.1
matplotlib==3.9.2
multidict==6.4.4
node==1.2.2
odict==1.9.0
react==4.3.0
recoil==0.1.1
attrs==25.3.0
psycopg2-binary==2.9.9
